@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #009688;
}
.searchBx {
	position: relative;
	margin-top: 60px;
	margin-bottom: -30px;
	width: 100%
}
.searchBx .query {
	width: 100%;
	padding: 13px 0;
	border: 1px solid #ccc;
	border-radius: 25px;
	padding-left: 30px;
	padding-right: 120px;
	margin-left: -20px;
	font-size: 15px;
	outline: none;
	cursor: text;
}